<header class="site-header">

  <div class="wrapper">
    {%- assign nav_paths = site.navigation | map: "url" -%}
    {%- assign nav_titles = site.navigation | map: "title" -%}
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>

    {%- if site.navigation %}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon"></span>
        </label>

        <div class="nav-items">
          {%- for item in site.navigation -%}
          <a class="nav-item" href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>
          {%- endfor -%}
        </div>
      </nav>
    {%- endif -%}
  </div>
</header>
